body {
    color: rgb(137, 137, 137);
}

.apz1 {
    font-size: 14px;
    color: #111111;
}

.apz2 {
    font-size:14px;
    color: #111111;
}

.apz3 {
    font-size:14px;
    color: #111111;
}

.apz4 {
    font-size:14px;
    color: #111111;
}

.apz5 {
    font-size:14px;
    color: #111111;
}

#otsp1 {
    height: 30px;
}

#otsp2 {
    height: 30px;
}

#otsp3 {
    height: 30px;
}

#otsp4 {
    height: 30px;
}
